{% extends "base_template.html" %}

{% block content %}
<div class="wrapper">
  <div class="pyramid">
    <div class="square">
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
    </div>
  </div>
  
  <div class="pyramid inverse">
    <div class="square">
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
    </div>
  </div>
</div>
  
  <h1>CrossWave Bot</h1>
  
  
  <div class="other-pens">
    <strong>All starts here</strong>
    <ul>
      <li>
        <a target="_blank" href="http://yumewebs.com/">Yumewebs website</a>
      </li>
      
      <li>
        <a target="_blank" href="https://github.com/yumewebs">Github account</a>
      </li>
    </ul>
  </div>
  

{% endblock %}